:root{
	background-color:green;
	color:yellow;
	font-family:"Comic Sans MS";
	font-size:12pt;
	line-height:2rem;
	margin-top:10%;
	margin-left:10%;
}

input{
	background-color:blue;
	color:white;
	font-family:"Clibri";
	font-size:12pt;
}

label + input {
	positionb:relative;
	left:50px;
}
 th, td{
	border:1px solid red;
}
table {
	border:1px solid red;
	width:80%;
}