/* Etiquetas <h3> con atributo title */
h3[title]
{
    font-family: Arial, sans-serif;
    color: #948B0E;
}

.historia
{
    font-family: Century, serif;
    color: #CBE68D;
}

.cantabra
{
    font-family: Corbel, sans-serif;
    color: #54B3B6;
}

/* Etiquetas con el atributo title que comiencen por "Cantabria" */
[title ^= "Cantabra"]
{
    font-family: Georgia, serif;
    color: #751A7C;
}

/* Etiquetas con el atributo title que terminen por "loco" */
[title $= "loco"]
{
    font-family: Latha, sans-serif;
    color: #273CDD;
}

@media (max-width: 449px) {
    .historia {
        font-size: 9pt;
    }

    .cantabra {
        font-size: 10pt;
    }

    [title^="Cantabra"] {
        font-size: 11pt;
    }

    [title$="loco"] {
        font-size: 12pt;
    }
}

@media (min-width: 450px) and (max-width: 899px) {
    .historia {
        font-size: 10pt;
    }

    .cantabra {
        font-size: 11pt;
    }

    [title^="Cantabra"] {
        font-size: 12pt;
    }

    [title$="loco"] {
        font-size: 12pt;
    }
}


@media (min-width: 900px) {
    .historia {
        font-size: 11pt;
    }

    .cantabra {
        font-size: 12pt;
    }

    [title^="Cantabra"] {
        font-size: 13pt;
    }

    [title$="loco"] {
        font-size: 13pt;
    }
}


