* {
    margin: 1px;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #ccc;
    text-align: center;
    padding: 15px;
}

#logo {
    width: 50px;
    height: 50px;
}

#menu {
    background-color: mediumorchid;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
}

#menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

#menu a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}

#menu a:hover {
    background-color: rgb(187, 104, 207);
}

main {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

#sec {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
}

#left {
    background-color: grey;
    width: 15%;
    text-align: center;
}

#left ul {
    list-style: none;
    padding: 0;
}

#left li {
    margin: 10px 0;
}

#left a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

#left a:hover {
    background-color: #555;
}

#mid {
    width: 70%;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}

 #right {
    background-color: grey;
    width: 15%;
    text-align: center;
}

#img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#b-container {
    display: flex;
    height: 35%;
}

#b1, #b2 {
    width: 50%;
}

#hamlet, #hamlet1 {
    padding: 15px;
    width: 95%;
    height: 95%;
    object-fit: contain;
}

#content {
    padding: 50px 70px;
    background-color: black;
    color: white;
    flex: 1;
}


