body {
	background-color:#9E1010;
	background-clip:content-box;
	font-family:calibri;
	font-size:14pt;
	margin-top:2%;
	margin-left:5%;
	margin-right:3%;
	padding: 1%;
	color:white;
}
img {
	width:20%;
}
h1, h2, h3 {
	color:#07BADA;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ff7f50;
    color: #fff;
}
