body {
    background-color: blue;
    color: white;
    font-family: Arial, sans-serif;
}

form {
    margin: 30px;
    padding: 30px;
}

form label {
    float: left;
    text-align: left;
    margin-right: 10px;
}
