.sprite{
    background-image: url("../imagenes/sprite.png" );
    background-repeat:no-repeat;
}

.primero{
    width:236px;
    height:357px;
    background-position: -19px -26px;
    border:solid red
}

.segundo{
    width: 236px;
    height:332px;
    background-position: -341px -27px;
    border:dotted blue
}
.tercero{
    width:316px;
    height:337px;
    background-position: -627px -30px;
    border: dashed blueviolet;
}